---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<style>
  *:not(nav):not(svg):not(h3):not(#info):not(h3 span):not(a):not(button) {
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.7s,
      transform 0.7s;
  }

  *:not(nav):not(svg):not(h3):not(#info):not(h3 span):not(a):not(button).animate {
    opacity: 1;
    transform: translateY(0);
  }
</style>

<Layout title="Yasin's Portfolio">
  <!-- <h3 id="my-h3" class="text-black dark:text-white flex flex-col gap-2 cursor-default justify-center text-center items-center w-screen overflow-hidden h-screen transition duration-300 opacity-100 text-2xl">
    Scroll to view
    <br>
    <span class="text-5xl motion-safe:animate-bounce">👇</span>
  </h3> -->
  <div class="fixed inset-0 z-10 bg-black bg-opacity-70 backdrop-blur w-full h-full hidden overflow-hidden" id="overlay"></div>
  <nav id="navbar" class="fixed top-0 w-full transition-transform duration-300 transform z-10 text-sm">
    <div class="text-black dark:text-white flex justify-between items-center p-7 px-10 bg-white/70 dark:bg-zinc-950/70 backdrop-blur m-7 rounded-2xl">
      <div id="leftNav" class="flex items-center">
        <a href="" class="lg:hover:text-gray-500 dark:hover:text-gray-300 duration-300"> Ahmad Yasin </a>
      </div>
      <div id="rightNavSmoll" class="flex flex-col lg:hidden">
        <label for="hamburger-toggle" id="hamburger">
          <div class="w-10 h-8 cursor-pointer flex flex-col items-center justify-center gap-1">
            <input class="hidden peer" type="checkbox" />
            <div class="w-[50%] h-[2px] bg-black dark:bg-white rounded-md"></div>
            <!-- transition-all duration-300 origin-left translate-y-[0.45rem] peer-checked:rotate-[-45deg] -->
            <div class="w-[50%] h-[2px] bg-black dark:bg-white rounded-md"></div>
            <!-- transition-all duration-300 origin-center peer-checked:hidden -->
            <div class="w-[50%] h-[2px] bg-black dark:bg-white rounded-md"></div>
            <!-- transition-all duration-300 origin-left -translate-y-[0.45rem] peer-checked:rotate-[45deg] -->
          </div>
        </label>

        <div id="list" class="absolute right-0 z-10 mt-10 w-56 origin-top-right rounded-md flex flex-col bg-white dark:bg-zinc-900 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
          <div class="flex flex-col p-2 px-4" role="none">
            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
            <div class="flex flex-col gap-5 py-3 pb-4">
              <a href="" class="hover:text-gray-500 dark:hover:text-gray-300 duration-300">Projects</a>
              <div class="relative inline-block">
                <div>
                  <button id="buttonCon" type="button" class="inline-flex justify-center gap-x-1.5 items-center hover:text-gray-500 dark:hover:text-gray-300 duration-300">
                    Contact
                    <svg class="-mr-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"></path>
                    </svg>
                  </button>
                </div>

                <div id="modalCon" class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md shadow-lg ring-1 bg-white dark:bg-zinc-800 ring-black ring-opacity-5 focus:outline-none hidden">
                  <div class="py-1" role="none">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <a href="#" class="px-4 py-2 text-sm flex items-center hover:text-gray-500 dark:hover:text-gray-300 transition duration-300"><i class="bi bi-envelope px-2"></i>Email</a>
                    <a href="#" class="px-4 py-2 text-sm flex items-center hover:text-gray-500 dark:hover:text-gray-300 transition duration-300"><i class="bi bi-whatsapp px-2"></i>Whatsapp</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full h-[1.25px] bg-black dark:bg-white my-2"></div>
            <a id="ModeToggle" class="text-sm flex flex-row items-center text-end py-2 cursor-default">
              Switch modes
              <svg id="terang" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-9 bg-white hover:bg-zinc-200 dark:bg-zinc-900 dark:hover:bg-zinc-800 duration-300 block mx-5 border border-gray-500 p-2 rounded-full">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"></path>
              </svg>

              <svg id="gelap" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-9 bg-white hover:bg-zinc-200 dark:bg-zinc-900 dark:hover:bg-zinc-800 duration-300 hidden mx-5 border border-gray-500 p-2 rounded-full">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div id="rightNav" class="gap-10 items-center hidden lg:flex">
        <ul class="flex gap-10">
          <li>
            <a href="" class="hover:text-gray-500 dark:hover:text-gray-300 duration-300"> Projects </a>
          </li>
          <li>
            <div class="relative inline-block">
              <div>
                <button type="button" class="inline-flex w-full justify-center gap-x-1.5 items-center hover:text-gray-500 dark:hover:text-gray-300 duration-300" id="menu-button" aria-expanded="true" aria-haspopup="true">
                  Contact
                  <svg class="-mr-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"></path>
                  </svg>
                </button>
              </div>

              <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md shadow-lg ring-1 dark:bg-zinc-900 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" id="modal1" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <div class="py-1" role="none">
                  <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                  <a href="#" class="px-4 py-2 text-sm flex items-center hover:text-gray-500 dark:hover:text-gray-300 transition duration-300" role="menuitem" tabindex="-1" id="menu-item-0"><i class="bi bi-envelope px-2"></i>Email</a>
                  <a href="#" class="px-4 py-2 text-sm flex items-center hover:text-gray-500 dark:hover:text-gray-300 transition duration-300" role="menuitem" tabindex="-1" id="menu-item-1"><i class="bi bi-whatsapp px-2"></i>Whatsapp</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="w-px h-full bg-black dark:bg-white"></div>
        <a id="darkModeToggle" class="hover:text-gray-500 dark:hover:text-gray-300 duration-300 font-semibold rounded-full cursor-pointer scale-95">
          <svg id="sun" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 block">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"></path>
          </svg>

          <svg id="moon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 hidden">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"></path>
          </svg>
        </a>
      </div>
    </div>
  </nav>

  <div class="container mx-auto h-screen p-10 text-black dark:text-white flex items-center">
    <div class="flex flex-col gap-10">
      <div class="bg-[url('/img/frame-10.png')] bg-cover size-20 lg:size-40 rounded-full"></div>
      <h1 class="text-3xl lg:text-7xl font-extrabold">Hi, I’m Yasin. ✌️</h1>
      <p class="text:md lg:text-2xl w-full lg:w-7/12 font-extralight flex">A Kodein student . I like to do Graphic Designing, 3D, And sometimes motion. Currently learning Astro, Vanilla Javascript, React and NextJS.</p>
      <div class="flex gap-4 text-md">
        <a href="https://www.instagram.com/yasin.graphs/" target="_blank" class="bg-white hover:bg-zinc-200 dark:bg-zinc-950 dark:hover:bg-zinc-800 rounded-full border-[0.1px] dark:border-white/10 border-black/10 p-5 size-12 flex justify-center items-center transition duration-300">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="https://www.threads.net/@yasin.graphs" target="_blank" class="bg-white hover:bg-zinc-200 dark:bg-zinc-950 dark:hover:bg-zinc-800 rounded-full border-[0.1px] dark:border-white/10 border-black/10 p-5 size-12 flex justify-center items-center transition duration-300">
          <i class="bi bi-threads"></i>
        </a>
        <a href="https://x.com/Yasin3856" target="_blank" class="bg-white hover:bg-zinc-200 dark:bg-zinc-950 dark:hover:bg-zinc-800 rounded-full border-[0.1px] dark:border-white/10 border-black/10 p-5 size-12 flex justify-center items-center transition duration-300">
          <i class="bi bi-twitter-x"></i>
        </a>
        <a href="https://github.com/yasin-codes" target="_blank" class="bg-white hover:bg-zinc-200 dark:bg-zinc-950 dark:hover:bg-zinc-800 rounded-full border-[0.1px] dark:border-white/10 border-black/10 p-5 size-12 flex justify-center items-center transition duration-300">
          <i class="bi bi-github"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="container mx-auto p-10 gap-4 flex text-black dark:text-white flex-col lg:flex-row">
    <!-- grid-flow-row lg:grid-flow-col -->
    <div class="flex-1 flex flex-col gap-4">
      <div class="p-5 lg:p-10 flex flex-col gap-14 justify-between rounded-lg border-[0.1px] dark:border-white/10 border-black/10 h-full w-full">
        <div id="upper" class="flex flex-col gap-5">
          <img src="/img/frame-10.png" class="size-10 lg:size-20 object-cover rounded-full" alt="" />
          <h2 class="text-2xl font-medium mt-6">Hey Again 👋</h2>
          <p class="text-sm lg:text-base font-extralight">I am Kodein student. I like to do Graphic Designing, 3D, And sometimes motion. Currently learning Astro, Vanilla Javascript, React and NextJS.</p>
        </div>

        <div id="lower" class="flex gap-2">
          <a href="https://maps.app.goo.gl/dEHqYCF69hPVqQ3b6" target="_blank" class="flex items-center gap-2 bg-zinc-200 hover:bg-zinc-300 dark:bg-zinc-800 dark:hover:bg-zinc-900 transition duration-300 border-[0.1px] dark:border-white/10 border-black/10 p-2 px-3 rounded-md">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"></path>
              </svg>
            </span>
            Indonesia
          </a>
          <a href="#" target="_blank" class="flex items-center gap-2 bg-zinc-200 hover:bg-zinc-300 dark:bg-zinc-800 dark:hover:bg-zinc-900 transition duration-300 border-[0.1px] dark:border-white/10 border-black/10 p-2 px-3 rounded-md">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5"
                ></path>
              </svg>
            </span>Kodein
          </a>
        </div>
      </div>
      <div class="p-5 lg:p-10 pb-5 flex flex-col gap-5 rounded-lg border-[0.1px] dark:border-white/10 border-black/10 h-full w-full">
        <h2 class="text-2xl font-medium flex gap-3 items-center">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"></path>
            </svg>
          </span>
          About me
        </h2>
        <p class="text-sm lg:text-base font-extralight">
          Greetings!. I'm Yasin, a 16-year-old student from Kodein. During my time at Kodein, I've developed strong multimedia skills, specializing in Photoshop, Premiere Pro, Illustrator, After Effects, and Blender. Alongside these, I've also deepened my understanding of coding, laying the
          groundwork for my ongoing development
          <br />
          <br />
          During my free time, I enjoy searching for inspirations to fuel my creativity, dedicating myself to practicing and refining my skills in multimedia and coding. I also like to play games and go biking, which keeps me engaged and energized.
        </p>
      </div>
    </div>
    <div class="flex-1 flex flex-col gap-4">
      <div class="p-5 lg:p-10 pb-5 flex flex-col rounded-lg border-[0.1px] dark:border-white/10 border-black/10 gap-10 h-full w-full">
        <h2 class="text-2xl font-medium flex gap-3 items-center">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3"></path>
            </svg>
          </span>
          Stack
        </h2>
        <div class="flex gap-20 cursor-default flex-col lg:flex-row">
          <div class="w-full h-full flex-1 flex flex-col gap-7">
            <div class="flex items-center gap-6">
              <img src="/img/appIcon/photoshop.svg" alt="" />
              <div class="flex flex-col">
                <h4 class="text-sm lg:text-base font-medium">Photoshop</h4>
                <p class="text-sm lg:text-base font-extralight">Photo editing</p>
              </div>
            </div>
            <div class="flex items-center gap-6">
              <img src="/img/appIcon/premiere.svg" alt="" />
              <div class="flex flex-col">
                <h4 class="text-sm lg:text-base font-medium">Premiere Pro</h4>
                <p class="text-sm lg:text-base font-extralight">Video editing</p>
              </div>
            </div>
            <div class="flex items-center gap-6">
              <img src="/img/appIcon/aftereffects.svg" alt="" />
              <div class="flex flex-col">
                <h4 class="text-sm lg:text-base font-medium">After Effects</h4>
                <p class="text-sm lg:text-base font-extralight">Motion editing</p>
              </div>
            </div>
            <div class="flex items-center gap-6">
              <img src="/img/appIcon/illustrator.svg" alt="" />
              <div class="flex flex-col">
                <h4 class="text-sm lg:text-base font-medium">Illustrator</h4>
                <p class="text-sm lg:text-base font-extralight">Vector</p>
              </div>
            </div>
            <div class="flex items-center gap-6">
              <img src="/img/appIcon/blender-light.svg" alt="" />
              <div class="flex flex-col">
                <h4 class="text-sm lg:text-base font-medium">Blender</h4>
                <p class="text-sm lg:text-base font-extralight">3D</p>
              </div>
            </div>
          </div>
          <div class="w-full h-full flex-1 flex flex-col gap-7">
            <div class="flex items-center gap-6">
              <img src="/img/appIcon/chatGPT.svg" alt="" />
              <div class="flex flex-col">
                <h4 class="text-sm lg:text-base font-medium">ChatGPT</h4>
                <p class="text-sm lg:text-base font-extralight">OpenAI</p>
              </div>
            </div>
            <div class="flex items-center gap-6">
              <img src="/img/appIcon/Figma.svg" alt="" />
              <div class="flex flex-col">
                <h4 class="text-sm lg:text-base font-medium">Figma</h4>
                <p class="text-sm lg:text-base font-extralight">Design tool</p>
              </div>
            </div>
            <div class="flex items-center gap-6">
              <img src="/img/appIcon/VS.svg" alt="" />
              <div class="flex flex-col">
                <h4 class="text-sm lg:text-base font-medium">Visual Studio Code</h4>
                <p class="text-sm lg:text-base font-extralight">Code</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-5 lg:p-10 pb-5 flex flex-col gap-10 rounded-lg border-[0.1px] dark:border-white/10 border-black/10 h-full w-full">
        <h2 class="text-2xl font-medium flex gap-3 items-center">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
              ></path>
            </svg>
          </span>
          Store
        </h2>
        <a href="https://payhip.com/yasinStuff" target="_blank" class="flex items-center justify-center gap-2 bg-zinc-200 hover:bg-zinc-300 dark:bg-zinc-800 dark:hover:bg-zinc-900 transition duration-300 border-[0.1px] dark:border-white/10 border-black/10 p-5 rounded-md">
          <svg width="110" height="28" viewBox="0 0 110 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_583_312)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M20.7038 5.08533C22.0916 5.09721 23.4269 5.60294 24.4571 6.5069C27.482 9.43817 30.4937 12.3822 33.5143 15.3192L25.4971 23.1122L16.4429 14.2942C13.1386 10.7304 15.7671 5.04695 20.7052 5.08533H20.7038ZM17.8923 7.56615C17.9749 7.53299 18.0634 7.51602 18.1528 7.51621L20.8193 7.51763C20.9993 7.51763 21.172 7.58713 21.2992 7.71083C21.4265 7.83453 21.498 8.0023 21.498 8.17724L21.4863 10.7602C21.4859 10.9347 21.4145 11.1019 21.2875 11.2252C21.1606 11.3486 20.9886 11.418 20.8091 11.4184H18.1528C17.7769 11.4184 17.4726 11.1242 17.4726 10.7602V8.17724C17.4724 8.09038 17.4899 8.00434 17.524 7.92405C17.5581 7.84377 17.6082 7.77082 17.6714 7.7094C17.7346 7.64798 17.8097 7.5993 17.8923 7.56615Z"
                fill="currentColor"></path>
              <path
                d="M30.3972 4.90763H30.64C32.1105 4.93071 33.5143 5.50764 34.5557 6.51685C35.6169 7.55082 36.2128 8.95158 36.2128 10.4119C36.2128 11.8723 35.6169 13.2731 34.5557 14.307L34.0291 14.8131C31.3582 12.2188 28.6931 9.61587 26.0193 7.02008L26.5429 6.51685C27.5691 5.52174 28.9481 4.94597 30.3972 4.90763Z"
                fill="currentColor"></path>
            </g>
            <g clip-path="url(#clip1_583_312)">
              <path
                d="M43.2008 10.144H45.8347V11.016C46.1309 10.6842 46.4965 10.4212 46.9058 10.2456C47.3152 10.0701 47.7582 9.98623 48.2037 9.99999C50.3478 9.99999 51.9619 11.744 51.9619 14.264C51.9619 16.784 50.3558 18.512 48.0672 18.512C47.6503 18.528 47.2351 18.4499 46.8528 18.2837C46.4704 18.1174 46.1306 17.8673 45.8588 17.552V21.68H43.2008V10.144ZM49.3038 14.256C49.3272 14.01 49.299 13.7618 49.2211 13.5273C49.1431 13.2927 49.0171 13.0768 48.851 12.8933C48.6849 12.7098 48.4824 12.5626 48.2562 12.4612C48.03 12.3597 47.7852 12.3062 47.5372 12.304C47.2862 12.3045 47.038 12.3563 46.808 12.4564C46.578 12.5564 46.3711 12.7025 46.2002 12.8856C46.0292 13.0686 45.8979 13.2848 45.8143 13.5205C45.7307 13.7562 45.6967 14.0066 45.7143 14.256C45.6952 14.5063 45.7289 14.7578 45.8131 14.9943C45.8974 15.2309 46.0304 15.4473 46.2035 15.6296C46.3767 15.8119 46.5862 15.9561 46.8187 16.053C47.0511 16.1498 47.3013 16.1972 47.5532 16.192C47.7991 16.1898 48.0419 16.1367 48.2661 16.036C48.4904 15.9354 48.6912 15.7894 48.8558 15.6074C49.0204 15.4254 49.1452 15.2112 49.2223 14.9786C49.2995 14.746 49.3272 14.4999 49.3038 14.256Z"
                fill="currentColor"></path>
              <path
                d="M52.9415 14.256C52.9415 11.736 54.5476 9.99202 56.6997 9.99202C57.132 9.98562 57.5604 10.074 57.9545 10.251C58.3486 10.428 58.6988 10.6891 58.9803 11.016V10.144H61.6303V18.36H59.149V17.504C58.8813 17.8448 58.5347 18.1159 58.139 18.2943C57.7432 18.4726 57.31 18.5528 56.8764 18.528C54.5797 18.504 52.9415 16.792 52.9415 14.256ZM59.1329 14.256C59.1526 14.0134 59.1228 13.7692 59.0455 13.5383C58.9682 13.3074 58.8448 13.0944 58.6828 12.9121C58.5208 12.7298 58.3236 12.582 58.1029 12.4775C57.8821 12.373 57.6425 12.314 57.3983 12.304C57.1503 12.3062 56.9055 12.3598 56.6793 12.4612C56.4531 12.5627 56.2506 12.7098 56.0845 12.8933C55.9184 13.0768 55.7924 13.2927 55.7144 13.5273C55.6365 13.7619 55.6083 14.01 55.6317 14.256C55.6069 14.5015 55.6342 14.7494 55.7118 14.9837C55.7895 15.218 55.9157 15.4334 56.0823 15.616C56.2488 15.7985 56.4521 15.9441 56.6788 16.0434C56.9056 16.1426 57.1507 16.1933 57.3983 16.192C57.6422 16.1853 57.882 16.129 58.1032 16.0266C58.3244 15.9243 58.5223 15.7779 58.6847 15.5967C58.8471 15.4154 58.9706 15.203 59.0477 14.9724C59.1248 14.7419 59.1538 14.4981 59.1329 14.256Z"
                fill="currentColor"></path>
              <path d="M65.8944 17.8L62.6823 10.144H65.4848L67.1391 14.56H67.1873L68.7933 10.144H71.4273L67.0909 21.68H64.481L65.8944 17.8Z" fill="currentColor"></path>
              <path
                d="M72.4712 6H75.1212V11.064C75.445 10.712 75.8419 10.4345 76.2843 10.2507C76.7267 10.067 77.2039 9.98141 77.6829 10C79.3853 10 80.6541 10.8 80.6541 13.408V18.36H78.0201V14.056C78.0201 12.728 77.5624 12.328 76.6389 12.328C75.7154 12.328 75.1212 12.928 75.1212 14.208V18.36H72.4712V6Z"
                fill="currentColor"></path>
              <path
                d="M82.204 7.59986C82.1863 7.28025 82.2653 6.96271 82.4307 6.68827C82.596 6.41384 82.8403 6.19514 83.1317 6.06043C83.4232 5.92573 83.7485 5.88122 84.0657 5.93266C84.3828 5.9841 84.6772 6.12911 84.9107 6.34897C85.1442 6.56882 85.3062 6.85341 85.3757 7.16593C85.4451 7.47846 85.4189 7.80456 85.3004 8.10208C85.1819 8.3996 84.9765 8.65487 84.7108 8.83488C84.4451 9.01489 84.1313 9.11138 83.81 9.11186C83.6031 9.12505 83.3957 9.09565 83.2008 9.02549C83.0058 8.95533 82.8274 8.84591 82.6767 8.70406C82.526 8.56221 82.4063 8.39096 82.325 8.20099C82.2436 8.01101 82.2024 7.80639 82.204 7.59986ZM82.4529 10.1359H85.0869V18.3599H82.4529V10.1359Z"
                fill="currentColor"></path>
              <path
                d="M86.99 10.1439H89.6239V11.0159C89.9188 10.6847 90.2831 10.422 90.691 10.2465C91.099 10.0709 91.5407 9.98673 91.9848 9.99987C94.1289 9.99987 95.743 11.7439 95.743 14.2639C95.743 16.7839 94.137 18.5119 91.8483 18.5119C91.4314 18.5278 91.0163 18.4498 90.6339 18.2836C90.2515 18.1173 89.9118 17.8672 89.64 17.5519V21.6799H86.99V10.1439ZM93.093 14.2559C93.1164 14.0092 93.088 13.7604 93.0096 13.5253C92.9312 13.2901 92.8044 13.0739 92.6375 12.8902C92.4705 12.7066 92.267 12.5596 92.0399 12.4587C91.8128 12.3577 91.567 12.305 91.3183 12.3039C91.0674 12.3043 90.8192 12.3562 90.5892 12.4563C90.3592 12.5563 90.1523 12.7024 89.9813 12.8855C89.8104 13.0685 89.6791 13.2846 89.5955 13.5204C89.5119 13.7561 89.4778 14.0065 89.4954 14.2559C89.4764 14.5061 89.51 14.7576 89.5943 14.9942C89.6785 15.2307 89.8115 15.4471 89.9847 15.6294C90.1579 15.8118 90.3674 15.956 90.5998 16.0528C90.8323 16.1497 91.0825 16.1971 91.3344 16.1919C91.581 16.1908 91.8246 16.1385 92.0498 16.0383C92.275 15.9382 92.4768 15.7924 92.6422 15.6102C92.8077 15.428 92.9332 15.2135 93.0109 14.9804C93.0885 14.7472 93.1165 14.5004 93.093 14.2559Z"
                fill="currentColor"></path>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </div>
</Layout>

<script>
  let lastScrollTop = 0;
  const navbar = document.getElementById("navbar");
  const delta = 5; // Adjust as needed

  window.addEventListener("scroll", function () {
    let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

    if (Math.abs(lastScrollTop - scrollTop) <= delta) return;

    if (scrollTop > lastScrollTop && scrollTop > navbar.offsetHeight) {
      // Scroll down
      navbar.classList.add("-translate-y-[500px]");
    } else {
      // Scroll up or at the top
      navbar.classList.remove("-translate-y-[500px]");
    }

    lastScrollTop = scrollTop;
  });

  // for the modal on contact

  document.addEventListener("DOMContentLoaded", function () {
    var menuButton = document.getElementById("menu-button");
    var modal = document.getElementById("modal1");

    menuButton.addEventListener("click", function () {
      // Toggle the 'hidden' class on modal
      modal.classList.toggle("hidden");
    });
  });

  // for modal contact two

  const button = document.getElementById("buttonCon");
  const modal = document.getElementById("modalCon");

  let isVisible = false;

  button.addEventListener("click", function () {
    if (!isVisible) {
      modal.classList.remove("hidden");
    } else {
      modal.classList.add("hidden");
    }
    isVisible = !isVisible;
  });

  // for hamburger

  // Get references to the elements
  const hamburger = document.getElementById("hamburger");
  const list = document.getElementById("list");

  // Add click event listener to the hamburger label
  hamburger.addEventListener("click", function () {
    // Toggle the 'hidden' class on the list element
    list.classList.toggle("hidden");
  });

  // the background

  const activate = document.getElementById("hamburger");
  const bg = document.getElementById("overlay");

  // Add click event listener to the hamburger label
  activate.addEventListener("click", function () {
    // Toggle the 'hidden' class on the list element
    bg.classList.toggle("hidden");
  });

  // JavaScript to make the div with ID 'overlay' unscrollable
  const overlayDiv = document.getElementById("overlay");
  overlayDiv.style.overflow = "hidden";
  // Optionally, you can disable scrolling using overflow-x and overflow-y separately
  // overlayDiv.style.overflowX = 'hidden';
  // overlayDiv.style.overflowY = 'hidden';

  // for animation
  const elements = document.querySelectorAll("*:not(nav)");

  const checkElementsInView = () => {
    elements.forEach((element) => {
      const rect = element.getBoundingClientRect();
      if (rect.top <= window.innerHeight && rect.bottom >= 0) {
        element.classList.add("animate");
      } else {
        element.classList.remove("animate");
      }
    });
  };

  // Run the function initially to check elements on page load
  checkElementsInView();

  // Add event listener for scroll
  window.addEventListener("scroll", checkElementsInView);

  // h3

  window.addEventListener("scroll", () => {
    const h3 = document.getElementById("my-h3");
    h3.classList.add("hidden");
  });

  // refresh

  window.onbeforeunload = function () {
    window.scrollTo(0, 0);
  };
</script>
